.DS_Store
node_modules/**/*
.expo
.expo-shared
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
.watchmanconfig
package-lock.json
.scannerwork
.nyc_output
coverage
.vscode
web-build
cypress/videos
cypress/screenshots
dist